<% provide(:title,"ﾕｰｻﾞｰ登録") %>
<div class="row justify-content-xl-center" id="register-card">
  <div class="col col-xl-6">
    <div class="card">
      <div class="card-header text-center">
        <h3><strong>👤ユーザー登録</strong></h3>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
        
          <div class="field">
            <%= f.label :name, "名前:" %><br />
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :asanaapi, "ASANA API:" %>
            <%= f.text_field :asanaapi, autofocus: true, class: "form-control %>
          </div>

          <div class="field">
            メール<br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          </br>
          <div class="field">
            パスワード
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
          </br>
          <div class="field">
            パスワード再入力<br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        
          <div class="actions mt-3 d-grid">
            <%= f.submit "登録", class:"btn btn-primary btn-lg btn3d" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
