<% provide(:title,"毎日検定") %>
</div>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'side' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="sentence">
      <div class="card-header text-center">
        <%= form_for(:changedate, url: kentei_changedate_path) do |f| %>
          <div class="row">
            <div class="col-9">
              
            </div>
            <div class="col-2">
              <%= f.text_field :selected_date, placeholder: "#{@selected_date.to_date}", class: 'form-control', type: 'date', value: @selected_date %>
            </div>
            
            <div class="col-1">
              <%= f.submit "変更", class: "btn btn-primary btn-sm btn3d" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        
      <% if @kenteidummy == true %>
      <% if Kmondai.count>0 %>
      <% if @decided %>
        <div class="card-body pb-0">
          <div class="row">
            <% if @angry %>
              <div class="col-1 text-center">
                <%= image_tag("kentei/answer_nothing.gif", alt:"yokyu icon", size: "70x80", id: "yokyu_icon") %>
              </div>
              <div class="col-11">
                <%= @kentei.number%>. <%=@kentei.question%></br>答えてください！
              </div>
              <% multiplechoices= Kchoice.where("kmondai_id=?", @kentei.id).order("number") %>
           <% else %>
              <div class="col-12 pl-5">
                <%= @kentei.number%>. <%=@kentei.question%>
              </div>
              <% multiplechoices= Kchoice.where("kmondai_id=?", @kentei.id).order("number") %>
           <% end %>
          </div>
          <%= form_for(:answerquestion, url: kenteianswer_path) do |f| %>
            <%= f.hidden_field :c_date, value: @selected_date %>
            <%= f.hidden_field :kmondai_id, value: @kentei.id %>
            <% if @kentei.answer.length==1 %>
              <%= f.label :choices, class: "form-check form-radio-inline ml-3" do %>
                <% if multiplechoices[0]!=nil %>
                  <div class="row">
                    <div class="col-11"><%= f.radio_button :choices, :choice1 %> ① <%= multiplechoices[0].sentence %></div>
                  </div> 
                <% end %>
                <% if multiplechoices[1]!=nil %>
                  <div class="row">
                    <div class="col-12"><%= f.radio_button :choices, :choice2 %> ② <%= multiplechoices[1].sentence %></div>
                  </div> 
                <% end %>
                <% if multiplechoices[2]!=nil %>
                  <div class="row">
                    <div class="col-12"><%= f.radio_button :choices, :choice3 %> ③ <%= multiplechoices[2].sentence %></div>
                  </div> 
                <% end %>
                <% if multiplechoices[3]!=nil %>
                  <div class="row">
                    <div class="col-12"><%= f.radio_button :choices, :choice4 %> ④ <%= multiplechoices[3].sentence  %></div>
                  </div> 
                <% end %>
                <% if multiplechoices[4]!=nil %>
                  <div class="row">
                    <div class="col-12"><%= f.radio_button :choices, :choice5 %> ⑤ <%= multiplechoices[4].sentence %></div>
                  </div> 
                <% end %>
                <% if multiplechoices[5]!=nil %>
                  <div class="row">
                    <div class="col-12"><%= f.radio_button :choices, :choice6 %> ⑥ <%= multiplechoices[5].sentence %></div>
                  </div> 
                <% end %>
                <% if multiplechoices[6]!=nil %>
                  <div class="row">
                    <div class="col-12"><%= f.radio_button :choices, :choice7 %> ⑦ <%= multiplechoices[6].sentence %></div>
                  </div> 
                <% end %>
              <% end %>
            <% else %>
              <% multiplecounter=0 %>
              <% multiplechoices.each do |kc| %>
                <div class="row">
                  <% multiplecounter+=1 %>
                  <div class="col-11 pl-5"><%= f.check_box :cbchoice, multiple: true %> <%= multiplecounter %>. 
                  <%= kc.sentence %></div>                  
                </div>
              <% end %>
            <% end %>

           <div class="row">
             
             <div class="col-11 text-center">
               <%= f.submit "答える🔏", class: "btn btn-success btn-sm btn3d" %>
             </div>
             <div class="col-1 pl-0">
               <% if @kentei.level==2 %>
                 <%= image_tag("kentei/thinking2.gif", alt:"yokyu icon", size: "70x60", id: "yokyu_icon") %></br>
               <% elsif @kentei.level==3 %>
                 <%= image_tag("kentei/thinking3.gif", alt:"yokyu icon", size: "80x60", id: "yokyu_icon") %></br>
               <% else %>
                 <%= image_tag("kentei/thinking.gif", alt:"yokyu icon", size: "50x60", id: "yokyu_icon") %></br>
               <% end %>
             </div>
           </div> 
          <% end %>
        <% else %>
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <% kentei=Kmondai.find(@answered.kmondai_id) %>
                <%= kentei.number%>. <%= kentei.question %>
                </br>
                </br>
                <% multiplechoices= Kchoice.where("kmondai_id=?", kentei.id).order("number") %>
                <% multiplecounter=0%>
                <% multiplechoices.each do |kc| %>
                <div class="row">
                  <div class="col-12">
                    <%= multiplecounter+=1 %>. <%=kc.sentence %></br>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-2 pt-0">
            <% if @answered.correct %>
              <%= image_tag("kentei/answer_correct.gif", alt:"yokyu icon", size: "160x160", id: "yokyu_icon") %></br>
              正解です！
            <% else %>
              <%= image_tag("kentei/answer_wrong.gif", alt:"yokyu icon", size: "120x150", id: "yokyu_icon") %></br>
              残念で御座いました!
            <% end %>
            </div>
          </div>  
          <div class="row">
            <div class="col-12">
              </br>
              <strong>正しい答えは：</strong>
              </br>
              <% if kentei.answer.length==1 %>
                <% correct_answer=Kchoice.where("kmondai_id=? AND number=?", kentei.id, kentei.answer.to_i).first %>
                <%= correct_answer.number %>. <%= correct_answer.sentence %>
              <% else %>
                <% numbers=kentei.answer.split(',') %>
                <% numbers.each do |number| %>
                  <% correct_answer=Kchoice.where("kmondai_id=? AND number=?", kentei.id, number.to_i).first %>
                  <%= correct_answer.number %>. <%= correct_answer.sentence %></br>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row border-top">
            <div class="col-12">
              <strong>説明：</strong>
              </br>
              <%= kentei.explanation %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% else %>
        <div class="row">
          <div class="col-12">
            <%= image_tag("kentei/bottomline.jpg", alt:"test icon", size: "474x75", id: "test_icon") %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">

