<% provide(:title,"問題管理") %>
</div>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'side' %>
  </aside>
  <div class="col-xl-11">  
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h3>試験</h3>
                </div>
                <div class="col-8">
                  <%= link_to "試験一覧", "#", class: "btn btn-primary btn-sm btn3d", role: "button" %>
                  <%= link_to "新規試験", "#", class: "btn btn-primary btn-sm btn3d", role: "button" %>
                  <%= link_to "試験管理", "#", class: "btn btn-primary btn-sm btn3d", role: "button" %>
                  <%= link_to "問題管理", "#", class: "btn btn-primary btn-sm btn3d", role: "button" %>  
                </div>
            </div>
        </div>
        <div class="card-body text-center">
        
        </div>
    </div>
  </div>
</div>
<div class="container">