<%= form_with(model: kmondai) do |form| %>
  <% if kmondai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kmondai.errors.count, "error") %> prohibited this kmondai from being saved:</h2>

      <ul>
        <% kmondai.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :system %>
    <%= form.text_field :system, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.text_field :order, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :suborder %>
    <%= form.text_field :suborder, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :分類 %>
    <select class="form-select form-select" name="kmondai[classification_name_id]" id="kmondai_classification_name_id">
    <% @system_names.each do |sn| %>
      <optgroup label="🔷<%=sn.content%>">
      <% sn.order_names.each do |o_name| %>
        <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;🔹<%=o_name.content%>">
        <% o_name.classification_names.each do |c_name| %>
          <% if c_name.id == @kmondai.id %>
            <option selected="selected" value="<%=c_name.id%>">&nbsp;&nbsp;&nbsp;&nbsp;<%=c_name.content%></option>
          <% else %>
            <option value="<%=c_name.id%>">&nbsp;&nbsp;&nbsp;&nbsp;<%=c_name.content%></option>
          <% end %>
        <% end %>
        </optgroup>
      <% end %>
      </optgroup>
    <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :explanation %>
    <%= form.text_field :explanation, class: 'form-control' %>
  </div>

  <div class="actions d-grid">
    <%= form.submit '登録', class: 'btn btn-success btn3d' %>
  </div>
<% end %>
