<div class="card text-center" style="width: 6rem;">
  <% if @selected_item==0 %>
    <a href="<%= kmondais_path %>" class="card-header pl-4 pt-1 pb-1 bg-info" data-toggle="tooltip" data-placement="right" title="毎日">
  <% else %>
    <a href="<%= kmondais_path %>" class="card-body pl-4 pt-1 pb-1 bg-light border-bottom" data-toggle="tooltip" data-placement="right" title="毎日">
  <% end %>
    <%= image_tag("ico_list.png", alt:"yokyu icon", size: "40x45", id: "yokyu_icon") %>
  </a>
  <% if @selected_item==1 %>
    <a href="<%= kmondaiexcel_path %>" class="card-header pl-4 pt-1 pb-1 bg-info" data-toggle="tooltip" data-placement="right" title="試験">
  <% else %>
    <a href="<%= kmondaiexcel_path %>" class="card-body pl-4 pt-1 pb-1 bg-light border-bottom" data-toggle="tooltip" data-placement="right" title="試験">
  <% end %>
    <%= image_tag("ico_excel.png", alt:"yokyu icon", size: "40x45", id: "yokyu_icon") %>
  </a>
  <% if @selected_item==2 %>
    <a href="<%= kentei_path %>" class="card-header pl-4 pt-1 pb-1 bg-info" data-toggle="tooltip" data-placement="right" title="管理">
  <% else %>
    <a href="<%= kentei_path %>" class="card-body pl-4 pt-1 pb-1 bg-light border-bottom" data-toggle="tooltip" data-placement="right" title="管理">
  <% end %>
    <%= image_tag("ico_back.png", alt:"yokyu icon", size: "40x45", id: "yokyu_icon") %>
  </a>
</div>