
<% provide(:title,"編集分類　II") %>
</div>
<div class="container-fluid">
<div class="row">
  <aside class="col-xl-1">
    <%= render 'side' %>
  </aside>
  <div class="col-xl-11 mr-0 pr-0">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link <%=@disables[0]%>" aria-current="system_names_page" href=<%=system_names_path%> >分類I</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link active <%=@disables[1]%>" aria-current="order_names_page" href=<%=order_names_path%> >分類II</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link <%=@disables[2]%>" aria-current="classification_names_page" href=<%=classification_names_path%> >分類III</a> 
          </li>
        </ul>
      </div>
      
    </div>
    <div class="row border border-top-0 bg-white" style="margin-left: 0px; margin-right: 0px">
      <br/>
      <div class="col-12 ">
        <h4>編集分類II</h4>
        <%= render 'form', order_name: @order_name %>
      </div>
    </div>

    <div class="row border border-top-0 bg-white" style="margin-left: 0px; margin-right: 0px">
      <div class="col-12">
        <%= link_to '表示', @order_name, class: "btn btn-success btn-sm btn3d"%>
        <%= link_to 'キャンセル', order_names_path, class: "btn btn-warning btn-sm btn3d" %>
      </div>
    </div>
  </div>
</div>