<%= form_with(model: system_name) do |form| %>
  <% if system_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system_name.errors.count, "error") %> prohibited this system_name from being saved:</h2>

      <ul>
        <% system_name.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  

  <div class="actions">
    <%= form.submit '登録', class: 'btn btn-success btn-sm btn3d' %>
  </div>
<% end %>
