<header class="navbar navbar-light  bg-light navbar-fixed-top shadow p-1 mb-3 rounded">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>" id="sbs_title">
      <%= image_tag("sbs_logo.png", alt:"sbs logo", size: "40x27", id: "sbs_logo") %>検定
    </a>
    <nav>
      <ul class="nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ｱｶｳﾝﾄ
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "👤ﾌﾟﾛﾌｨｰﾙ", edit_user_registration_path, class: "nav-link" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "🏁ﾛｸﾞｱｳﾄ", destroy_user_session_path, method: :delete, class: "nav-link" %> </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ﾛｸﾞｲﾝ", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>